
*.config
*.v2
*.vsidx
*.lock
FirstResponsiveWebAppAdolfson/.vs/FirstResponsiveWebAppAdolfson/v17/.suo
*.json
*.dll
*.exe
*.css
*.map
*.js
*.txt
FirstResponsiveWebAppAdolfson/wwwroot/lib/bootstrap/LICENSE
*.md
*.ico
*.cache
*.props
*.editorconfig
*.BuildWithSkipAnalyzers
*.pdb
*.user
